* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #bbc6fa;
}

.quote-box {
    background-color: #fff;
    width: 500px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 28px;
    margin-bottom: 35px;
    position: relative;
}

h2::after {
    content: '';
    width: 75px;
    height: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

blockquote {
    font-size: 26px;
    min-height: 110px;
}

blockquote::before {
    content: '"';
}

span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

/* ✅ BUTTON CONTAINER */
.button-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;     /* FORCE horizontal */
    justify-content: center;
    gap: 15px;
}

/* ✅ BUTTONS */
button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    cursor: pointer;
}