*{
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
    font-family: monospace;
}
.container{
    max-width: 600px;
    background-color: white;
    height: 300px;
    margin: 100px auto;
    padding:20px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
input{
    text-align: center;
    padding: 10px;
    width: 80%;
    margin: 0px 60px;
}

button{
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 30%;
    border: 1px solid ;
    margin: 10px 190px;
    border-radius: 5px;
    cursor: pointer;
}

span{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 120px ;
}