*{
    box-sizing: border-box;
}

body{
        background-color: #f2f2f2;
        font-family: "Helvetica", sans-serif;
}

.container{ 
    background-color: white;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 10px;
}

h1{
    margin-top: 0;
    text-align: center;
}

input{
    padding: 10px;
    border: 1px solid #ccc ;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}

button{
    background-color: #4caf50;
    padding: 15px;
    color:white;
    width: 100%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease;
    margin: 10px 0;
}

button:hover{
    background-color: #3d8f3f;
}

#total{
    font-size: 24px;
    font-weight: bold;
}

#clear{
    background-color: red;
    transition: 0.3s ease;
}

#clear:hover{
    background-color: rgb(131, 36, 36);
}