*{
    box-sizing: border-box;
    font-family: monospace;

    
}
body{
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    background-color: #ccc;
    min-height: 100vh;

}

.container{
    margin: 100px auto;
    padding: 10px;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}
h1{
    text-align: center;
}

input{
    padding: 10px;
    width: 100%;
    margin: 10px 0 ;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button{
    width: 100%;
    background-color: aquamarine;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
    margin: 10px 0;
    cursor: pointer;
}

#convert:hover{
    background-color: rgb(44, 150, 114);
}

#reset{
    background-color:coral;
}
#reset:hover{
    background-color:rgb(206, 93, 52);
}