body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
}

.container {
    text-align: center;
}

.progress-container {
    width: 500px;
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden;

}

.progress-bar-back {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: lightslategray;
    border: none;
    z-index: -1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.progress-bar-front {
    position: absolute;
    height: 4px;
    width: 0%;
    background-color: green;
    border: none;
    z-index: -1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s linear width;
}

.step {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid lightslategray;
    color: lightslategray;
}

.step.checked {
    color: green;
    border-color: green;
    transition: all .4s linear;
    transition-delay: .3s;
}

.step.checked small {
    position: absolute;
    bottom: -20px;
    font-family: cursive;
}

.btn {
    background-color: slateblue;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 60px 15px 0;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;

}

.btn:hover {
    opacity: .9;
}

.btn:active {
    transform: scale(0.97);
}

.btn:disabled {
    background-color: lightgray;
}

@media (max-width:500px) {
    .progress-container {
        width: 90vw;
    }

}