body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: slateblue;
    font-family: cursive;
}
.calender-container{
    background-color: white;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    overflow: hidden;
}
.month-name{
    margin: 0;
    background-color: #ff4500;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.day-name{
    color: grey;
}
.day-number{
    margin: 0;
    font-size: 80px;
    font-weight: bold;
}
.year{
    color: gray;
}