*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: slateblue;
}
.main-container{
    background-color: white;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4 8px rgba(0, 0, 0, 0.7);
    position: relative;
}
.emoji-container{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    /* color: ; */
}
.fa-regular{
    margin: 1px;
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;

}
.star-container{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.fa-star{
    color: lightgrey;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.15s ease-in-out;

}
.fa-star.active{
    color: gold;
}
.fa-star:hover {
    transform: scale(1.2);
}