body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b03629;
    transition: .6s;
}

.image-container{
    text-align: center;
}

.image-container img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,.3);
    background-color: lightcyan;
    width: 300px;
    height: 300px;
    transition: 0.5ms;
}

.btn {
    background-color: slateblue;
    border: none;
    padding: 12px 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,.3);
    transition: .5s;
}

.btn:hover{
    background-color: rgb(90, 77, 175);
}